body {
  background-color: #1f3548;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  height: 100vh;
  display: flex;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#wheelOfFortune {
  position: relative;
  height: 300px;
}

#wheel {
  display: block;
  overflow: visible;
}

.marker-styles {
  font: 1.5em/0 sans-serif;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10%;
  height: 10%;
  margin: -5%;
  background: #fff;
  color: #fff;
  box-shadow: 0 0 0 3px currentColor, 0 0px 5px 2px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.marker-styles::after {
  content: "";
  position: absolute;
  top: -10px;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}

.marker {
  font: 1.5em/0 sans-serif;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.menu {
  font-weight: bold;
  font-size: larger;
}

.prize {
  color: #fff;
  min-width: 300px;
  text-align: center;
  background-color: #0aa8f6;
  font-size: larger;
  font-weight: bold;
  padding: 10px;
}

.spin-button {
  background: #0aa8f6;
  font-weight: bold;
}

.add-button {
  background: #0aa8f6;
  width: 25px;
}

.reset-button {
  background: red;
  width: 25px;
}

.decision {
  font-size: large;
  padding: 10px;
  position: relative;
  outline: none;
  border: none;
}
.button {
  padding: 10px;
  font-size: large;
  cursor: pointer;
  color: #fff;
  position: relative;
  outline: none;
  border: none;
}

.button:active {
  top: 2px;
}

.disable-button {
  color: #797979;
  pointer-events: none;
  background-color: #aaaaaa;
  cursor: none;
}
